@import '../colors.css';

.links-view {
  font-size: 2em;
  color: var(--color-bright-accent);
}

.links-view i,
footer button {
  cursor: pointer;
}

footer button:hover {
  background-color: rgba(32, 206, 218, 0.6);
  transition: 0.3s;
}

.links-view a:visited {
  color: var(--color-bright-accent);
}

.links-view a:hover {
  color: rgba(32, 206, 218, 0.6);
  transition: 0.3s;
}

.show-anim {
  animation: fading 0.3s linear 1 0s;
}

@keyframes fading {
  0% {
    opacity: 0.1;
    word-spacing: 20px;
  }
  100% {
    opacity: 0.9;
  }
}
